<div class ="container login-component">
<form class="form-signin">
    <h2 class="form-signin-heading">{{loginHeader}}</h2>
    <div class="form-group">
    <label for="inputUserName"></label>
    <input type="text" id="inputUserName" class="form-control" placeholder ="User Name" name = "userName" [(ngModel)] = "model.username" required>
    </div>
    <div class="form-group">
    <label for="inputPassword"></label>
    <input type ="password" id = "inputPassword" class="form-control" placeholder ="Password" name="password" [(ngModel)] = "model.password" required>
    </div>
    <div class="form-group">
    <button class= "btn btn-primary" type="submit" (click)="onLogin()">Sign in</button>
    <a class= "btn btn-link" [routerLink] = "['/register']">Register</a>
    </div>
    <div *ngIf="showError">{{loginFailed}}</div>
</form>
</div>
